@model AUST_BUDDY_WEB.Models.UserLogin

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AUST BUDDY</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  " style="background-color: #16A34A;">
        <div class="container">
            @Html.ActionLink("AUST BUDDY", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Course", "index", "course", new { area = "" }, new { @class = "nav-link" })</li>
                        @* <li>@Html.ActionLink("Announcements", "index", "announcement", new { area = "" }, new { @class = "nav-link" })</li>*@

                    }
                    @* <li>@Html.ActionLink("Registration", "registration", "authentication", new { area = "" }, new { @class = "nav-link" })</li> *@
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <p class="navbar-text ml-2">Welcome,!</p>
                    <form method="post" action="@Html.ActionLink("Logout", "Authentication")">
                        <button type="submit" class="btn btn-link text-danger navbar-btn">Logout</button>
                    </form>
                }
                else
                {
                    <a class="btn btn-primary ml-2" href="@Url.Action("Login", "Authentication")">Login</a>
                }
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container-fluid" style="padding-bottom: 200px;">
        <!-- Add padding to push content up -->
        <!-- Your main content here -->
    </div>


    <div class="container footer fixed-bottom" style="background-color:white;">
        <footer class="py-1 my-2">

            <ul class="nav justify-content-center ">
                <li><a href="https://github.com/piru72/AUST_BUDDY_WEB" target="_blank" class="nav-item nav-link text-muted">2023 - AUST BUDDY</a></li>
                <li>@Html.ActionLink("About Us", "index", "about", new { area = "" }, new { @class = "nav-item nav-link  text-muted" })</li>
                <li>@Html.ActionLink("FAQ", "index", "faq", new { area = "" }, new { @class = "nav-item nav-link  text-muted" })</li>
                @*<li>@Html.ActionLink("Privacy Policy", "index", "privacy", new { area = "" }, new { @class = "nav-item nav-link  text-muted" })</li> *@
            </ul>

        </footer>

    </div>

    <style>

        .footer {
            width: 100% !important;
            max-width: 100% !important;
            left: 0 !important;
        }

        /* Adjust the font size and line height for the footer */
        .nav-item.nav-link {
            font-size: 20px;
            line-height: 1;
        }

        /* Override any padding within the footer */
        .footer footer {
            padding: 0 !important;
        }
    </style>

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvf5d9a1rG6A8fWIDlMj5IlQn4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
