@{ ViewBag.Title = "Announcement"; }

@model IEnumerable<AUST_BUDDY_WEB.Models.Announcement>
<main>
    <a href="@Url.Action("Add", "Announcement")" class="btn btn-primary btn-lg btn-block">Add Announcement</a>
    <section>
        <section>
            <div class="container">
                <div class="row justify-content-center">

                   
                        @foreach (var announcement in Model)
                        {<div class="card course-card" style="width: 18rem;">
                           
                            <div class="card-body">
                                <h5 class="card-title">@announcement.ProductCategory</h5>
                                <p class="card-text"> @announcement.ProductName</p>
                                <p class="card-text"> @announcement.ProductDetails</p>
                                <a href="@Url.Action("details", "announcement" , new { id = @announcement.ProductId })" class="btn btn-primary">Details</a>
                            </div>
                        </div>}
                   

                </div>
            </div>
        </section>


    </section>

</main>
